.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px 0;
  border-left: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  box-shadow: -4px 0px 20px 3px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    152deg,
    var(--bg-base) 75%,
    var(--primary-color) 100%
  );
}
.parent:hover {
  background: linear-gradient(
    152deg,
    var(--hover-color) 75%,
    var(--primary-color) 100%
  );
  box-shadow: 20px 0px 22px -18px var(--primary-color),
    -20px 0px 22px -18px var(--primary-color) !important;
}
.right {
  display: flex;
  align-items: center;
  color: var(--text-color);
}
.link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  margin-right: 15px;
}
.play_music {
  font-size: 18px;
  cursor: pointer;
}
.image {
  border-radius: 5px;
  margin-left: 15px;
}
.link > p {
  font-size: 18px;
  margin-top: 4px;
}
.left {
  color: var(--text-color);
  font-size: 18px;
}
.trash_btn {
  color: var(--primary-color);
  margin-right: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.trash_btn:hover {
  color: red;
  transform: scale(1.1);
}
