.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 15px 0;
  color: var(--text-color);
  padding: 3px 10px;
  background-color: var(--menu-color);
  border-radius: 25px;
  z-index: 2;
  background: linear-gradient(
    160deg,
    var(--menu-color) 50%,
    var(--primary-color) 100%
  );
}
.title {
  z-index: 2;
  margin: 0;
  color: var(--text-color);
}
.parent > div > a {
  color: var(--primary-color);
  transition: 0.3s;
}
.parent > div > a:hover {
  transform: scale(1.1);
}
.icon {
  font-size: 18px;
  color: var(--primary-color);
  margin-right: 5px;
}
@media (max-width: 400px) {
  .parent > a {
    font-size: 12px;
  }
  .icon {
    font-size: 16px;
  }
  .title {
    font-size: 18px;
  }
}
@media (max-width: 300px) {
  .text_link {
    display: none;
  }
  .icon {
    font-size: 20px;
  }
}
